<div id="title">
	<h2>
		<%= "About Academic Ninja" %>
	</h2>
</div>

<div id="body">
	<p> This project is dedicated to aid teachers in the education of high school students with an easy nine step process to absorbsion of learning material. </p>
</div>
